/* Homepage
   ========================================================================== */

html, body {
	padding: 0;
	margin: 0;
}

/* Hero
   ========================================================================== */


.hero {
	background: url('../img/hero-image.jpg') no-repeat center center;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;


		h1 {
			color: white;
			display: block;
			margin: 0;
			font-weight: 100;
			line-height: 1;
			letter-spacing: 0.5px;
		}

		hr {
			border-color: yellow;
			margin-top: 50px;
			width: 10%
		}
}


/* Work
   ========================================================================== */

.work {
	background: url('../img/about-image.jpg') center no-repeat;
	background-size: cover;
	height: 65%;
	width: 100%;
	margin: 0;
	padding: 96px 0;
	position: relative;
}
