/* Homepage
   ========================================================================== */

html, body {
	padding: 0;
	margin: 0;
}

/* Hero
   ========================================================================== */


.hero {
	background: url('../img/hero-image.jpg') no-repeat center center;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .hero-overlay {
    	position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	z-index: 9;
    	background-color: rgba(17,17,17,0.6);
    	overflow: hidden;
    }

	.hero-content {

		h1 {
			color: white;
			display: block;
			text-align: center;
			margin: 0;
			font-weight: 100;
			font-family: 'CalibreWeb-Light';
			line-height: 1;
			letter-spacing: 0.5px;
			position: relative;
			z-index: 100;
		}
	}	
}


/* Work
   ========================================================================== */

.work {
	background: url('../img/about-image.jpg') center no-repeat;
	background-size: cover;
	height: 65%;
	width: 100%;
	margin: 0;
	padding: 96px 0;
	position: relative;
}
