/* Typography
   ========================================================================== */

@font-face {
    font-family: FengardoNeue_Black;
    src: url(../fonts/FengardoNeue_Black.otf);
}
@font-face {
    font-family: FengardoNeue_Regular;
    src: url(../fonts/FengardoNeue_Regular.otf);
}
@font-face {
    font-family: Gotham-Black;
    src: url(../fonts/Gotham-Black.otf);
}
@font-face {
    font-family: Gotham-Bold;
    src: url(../fonts/Gotham-Bold.otf);
}
@font-face {
    font-family: Gotham-Book;
    src: url(../fonts/Gotham-Book.otf);
}
@font-face {
    font-family: Gotham-Medium;
    src: url(../fonts/Gotham-Medium.otf);
}
@font-face {
    font-family: Slot-Regular;
    src: url(../fonts/Slot-Regular.otf);
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	padding-top: 80px;
}

html {
	font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Arial";
}

h1 { font-size: 54px; }
h2 { font-size: 36px; }
h3 { font-size: 32px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }
p { font-size: 14px; }

li, a, p {
	font-family: "Arial";
}

input, textarea {
	border: 1px solid gray;
	outline: none;
}

button:focus, input:focus {
	outline: 0;
}

a:hover {
	text-decoration: none;
	opacity: 0.7;
}

ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

li {
	font-size: 1.4rem;
}

table {
	font-family: "Lato-Regular";
	font-size: 1.4rem;
}

th {
	font-weight: normal;
}

label {
	font-family: "Lato-Regular";
	font-size: 1.4rem;
}